
// **************
// Theme
// **************
#ms-components-theme(@theme-vars) {
    // here all the selectors related to the theme
    // use the mixins declared in the web/client/theme/default/less/mixins/css-properties.less
    // to use one of the @theme-vars

    // eg: use the main background and text colors to paint my plugin
    /* .my-plugin-class {
        .color-var(@theme-vars[main-color]);
        .background-color-var(@theme-vars[main-bg]);
    }*/
}

// **************
// Layout
// **************

// eg: fill all the available space in the parent container with my plugin
#geo-tour {
    position: absolute;
    height: 100%;
    width: 100%;
}

// here
